
/* GENERIC */
#layout-builder {
  border: 0;
  padding: 0;
}
.layout-builder__layout .layout-builder__region {
  outline: none;
}
.layout-builder__section:hover > .layout {
  outline: 2px dashed var(--layout_builder_extras_blue);
}
.layout-builder__section:hover .layout-builder__region + .layout-builder__region {
  border-left: 2px dashed var(--layout_builder_extras_blue);;
  box-sizing: border-box;
}

/* BELOW ALL FOR THE ADD SECTION OVERRIDE */
.layout-builder .layout-builder__add-block,
.layout-builder .layout-builder__add-section {
  outline: none;
  background: none;
  margin-bottom: 0;
}

.layout-builder .layout-builder__add-section {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.layout-builder .layout-builder__add-section a {
  text-decoration: none !important;
  position: absolute;
}

.layout-builder .layout-builder__add-section:before {
  content: " ";
  border-bottom: 1px solid var(--layout_builder_extras_blue);
  z-index: 0;
  position: absolute;

  width: 100%;
  display: block;

  transform: scaleX(0) translateY(12px);
  transition: transform 250ms ease-in-out;
  transform-origin: center;

  pointer-events: none;
}

.layout-builder .layout-builder__add-section:hover:before {
  transform: scaleX(1) translateY(12px);
}

.layout-builder__add-block a,
.layout-builder__add-section a {
  padding: 0;
  margin: 0;

  display: inline-block;

  min-height: 25px;
}

.layout-builder__add-block a {
  padding-bottom: 10px;
}

.layout-builder__add-section .toggle-sections-actions__plus {
  margin-left: -2px;
}

.layout-builder__add-section .toggle-sections-actions__plus,
.layout-builder__add-block a:before {
  content: "+";
  z-index: 1;
  display: inline-block;

  width: 25px;
  height: 25px;

  background: var(--layout_builder_extras_blue);
  border-radius: 50%;
  border: none;
  color: var(--layout_builder_extras_white);
  font-size: 2rem !important;
  padding: 0;
  line-height: 21px !important;

  opacity: 40%;
}

/* Reset some default button styling */
.toggle-section-actions {
  border: none !important;
  padding: 0 !important;
}

.layout-builder__add-block a {
  opacity: 0;
  transition: .5s all ease-in-out;
}
.layout-builder__add-block a:before {
  margin-right: 5px;
}
.layout-builder__section:hover .layout-builder__add-block a,
.layout-builder__section:hover .layout-builder__add-block a:before {
  opacity: 1;
}

.layout-builder__add-section:hover:after {
  opacity: 0;
}

.layout-builder__add-section:hover a {
  color: var(--layout_builder_extras_white);
  opacity: 1;
  text-decoration: none !important;
}

.layout-builder__add-section + .layout-builder__section {
  margin-top: 20px;
}

/* END ADD SECTION */


/* END MOVE SECTION ICONS */
.layout-builder__section {
  position: relative;
}

.section-actions__inner {
  position: sticky;
  top: 6rem;
}

.section-actions {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  transition: .5s all ease-in-out;
}

.layout-builder__section:hover .section-actions {
  opacity: 1;
}

.section-actions__inner .layout-builder__link--add-section-to-library,
.layout-builder__link--add:hover,
.layout-builder__link--configure:hover,
.layout-builder__link--add-section-to-library:hover {
  background: none;
}

.layout-builder__section .layout-builder__link--configure:hover:before,
.layout-builder__section .layout-builder__link--add-section-to-library:hover:before {
  background-color: var(--layout_builder_extras_blue);
}

.layout-builder__section .layout-builder__link--configure:hover,
.layout-builder__section .layout-builder__link--add-section-to-library:hover {
  border-color: var(--layout_builder_extras_blue);
}

.layout-builder__section .layout-builder__link--remove:hover:before {
  background-color: var(--layout_builder_extras_white);
}

.layout-builder__section .layout-builder__link--remove:hover {
  background-color: var(--layout_builder_extras_red);
  border-color: var(--layout_builder_extras_red);
}

.layout-builder__section .layout-builder__link--configure,
.layout-builder__section .layout-builder__link--remove,
.layout-builder__section .layout-builder__link--add-section-to-library {
  margin-left: 0;
  background-color: var(--layout_builder_extras_white);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: 5px;

  /* align with core */
  text-indent: -9999999px;
  border: 1px solid #ccc;
  border-radius: 26px;
  width: 26px;
  height: 26px;
  position: relative;

  z-index: 2;

  padding-left: 0;
}

.section-actions__inner a:last-child {
  margin-right: 0; /* last child no margin */
}

.layout-builder__section .layout-builder__link--add-section-to-library {
  width: 26px;
  height: 26px;
}

.layout-builder__section .layout-builder__link--configure:before,
.layout-builder__section .layout-builder__link--remove:before,
.layout-builder__section .layout-builder__link--add-section-to-library:before,
.layout-builder__link--configure {
  content: " ";
  display: block;
  position: absolute;

  background-color: var(--layout_builder_extras_gray);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  width: 16px;
  height: 16px;
}

.layout-builder__section .layout-builder__link--add-section-to-library:before {
  -webkit-mask-image: url(/modules/contrib/section_library/images/icons/787878/save.svg);
  mask-image: url(/modules/contrib/section_library/images/icons/787878/save.svg);

  width: 26px;
  height: 26px;
}

.layout-builder__section .layout-builder__link--configure:before {
  -webkit-mask-image: url(/core/misc/icons/bebebe/cog.svg);
  mask-image: url(/core/misc/icons/bebebe/cog.svg);
}

.layout-builder__section .layout-builder__link--remove:before {
  -webkit-mask-image: url(/core/misc/icons/ffffff/ex.svg);
  mask-image: url(/core/misc/icons/ffffff/ex.svg);
  background-image: none;
}
